{% if not craft.cookieConsent.hasSetPreferences() %}

    {% set config = craft.cookieConsent.getConfig() %}

    <div id="CookieConsent" class="fixed bottom-0 right-0 p-4 z-50 w-full md:w-[45ch] md:min-w-[45ch] md:max-w-[45ch]">
        <div id="CookieConsent__Wrapper" class="bg-primary text-white p-4 w-full text-center md:text-left" x-data="{ detailOpen : false }">

            <div x-show="!detailOpen">
                <div id="CookieConsent__DefaultContent" class="flex flex-col gap-2">

                    {% if config['headline'] is defined and config['headline'] is not empty %}
                        <h2 id="CookieConsent__Headline" class="font-semibold font-heading text-lg">
                            {{ config['headline'] }}
                        </h2>
                    {% endif %}

                    {% if config['copy'] is defined and config['copy'] is not empty %}
                        <div id="CookieConsent__Copy" class="body-sm md:max-w-[36ch]">
                            {{ config['copy'] }}
                        </div>
                    {% endif %}

                    <div id="CookieConsent__Error" class="text-red-700 body-sm hidden"></div>

                    <div id="CookieConsent__Buttons" class="flex flex-col md:flex-row items-center justify-between">

                        <div id="CookieConsent__AcceptButtons" class="flex flex-col md:flex-row items-center space-x-4">

                            <form action="{{ url('actions/cookie-consent/consent/accept-all') }}" method="post">
                                {{ csrfInput() }}
                                <button id="CookieConsent__AcceptButton" class="hover:cursor-pointer">
                                    Accept all
                                </button>
                            </form>

                            <form action="{{ url('actions/cookie-consent/consent/index') }}" method="post">
                                {{ csrfInput() }}
                                <button id="CookieConsent__NecessaryOnlyButton" class="hover:cursor-pointer">
                                    Reject all
                                </button>
                            </form>
                        
                        </div>

                        <button id="CookieConsent__Moreutton" class="hover:cursor-pointer" x-on:click="detailOpen=true">
                            More
                        </button>
                    
                    </div>

                </div>
            </div>

            <div x-show="detailOpen" x-cloak>
                <form method="post" action="{{ url('actions/cookie-consent/consent/index') }}" id="CookieConsent__DetailContent" class="flex flex-col gap-2">

                    {{ csrfInput() }}

                    <div id="CookieConsent__Options" class="flex flex-col gap-y-4">

                        <div id="CookieConsent__Necessary" class="flex flex-col md:flex-row items-center md:items-start justify-between gap-4">

                                <div class="flex flex-col gap-y-1">

                                    <div class="body-lg font-semibold">
                                        Necessary
                                    </div>

                                    {% if config['necessary_copy'] is defined and config['necessary_copy'] is not empty %}
                                        <div class="body-xs">
                                            {{ config['necessary_copy'] }}
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="flex">
                                    {{ _self.toggle( "necessaryToggle", "1", true ) }}
                                </div>

                        </div>

                        <div id="CookieConsent__Analytics" class="flex flex-col md:flex-row items-center md:items-start justify-between gap-4">

                                <div class="flex flex-col gap-y-1">

                                    <div class="body-lg font-semibold">
                                        Analytics
                                    </div>

                                    {% if config['analytics_copy'] is defined and config['analytics_copy'] is not empty %}
                                        <div class="body-xs">
                                            {{ config['analytics_copy'] }}
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="flex">
                                    {{ _self.toggle( "analyticsToggle" ) }} 
                                </div>

                        </div>

                        <div id="CookieConsent__Advertisement" class="flex flex-col md:flex-row items-center md:items-start justify-between gap-4">

                                <div class="flex flex-col gap-y-1">

                                    <div class="body-lg font-semibold">
                                        Advertisement
                                    </div>

                                    {% if config['advertisement_copy'] is defined and config['advertisement_copy'] is not empty %}
                                        <div class="body-xs">
                                            {{ config['advertisement_copy'] }}
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="flex">
                                    {{ _self.toggle( "adToggle" ) }}
                                </div>

                        </div>

                    </div>

                    {% if config['policy_url'] is defined and config['policy_url'] is not empty %}
                        <a href="{{ config['policy_url'] }}" id="CookieConsent__PolicyLink">
                            {{ config['policy_copy'] ?? "Learn more" }}
                        </a>
                    {% endif %}

                    <div id="CookieConsent__DetailError" class="text-red-700 body-sm hidden"></div>
                    
                    <div id="CookieConsent__DetailButtons" class="flex flex-col md:flex-row items-center justify-between">

                        <button id="CookieConsent__SubmitButton" type="submit">
                            Save
                        </button>

                        <button id="CookieConsent__LessButton" class="hover:cursor-pointer" type="button" x-on:click="detailOpen=false">
                            Less
                        </button>
                    
                    </div>
                    
                </form>
            </div>

        </div>
    </div>

    {% macro toggle(toggleName, defaultState='0', isDisabled=false) %}
        <div class="flex justify-center items-center" x-data="{ toggle: '{{ defaultState }}', disabled: {{ isDisabled ? 'true' : 'false' }} }">
            <div class="relative rounded-full w-12 h-6 transition duration-200 ease-linear"
                :class="[toggle === '1' ? (disabled ? 'bg-gray-300' : 'bg-green-400') : 'bg-gray-400']">
                <label :for="'{{ toggleName }}'"
                    class="absolute left-0 bg-white border-2 mb-2 w-6 h-6 rounded-full transition transform duration-100 ease-linear"
                    :class="[toggle === '1' ? 'translate-x-full' : 'translate-x-0', disabled ? 'border-gray-300 cursor-not-allowed' : (toggle === '1' ? 'border-green-400 cursor-pointer' : 'border-gray-400 cursor-pointer')]"></label>
                <input type="checkbox" :id="'{{ toggleName }}'" :name="'{{ toggleName }}'"
                    class="hidden w-full h-full active:outline-none focus:outline-none"
                    @click="if (!disabled) { toggle = toggle === '0' ? '1' : '0' }"
                    :checked="toggle === '1'"
                    :disabled="disabled"/>
            </div>
        </div>
    {% endmacro %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#CookieConsent form').on('submit', function(e) {
                e.preventDefault(); // Prevent the default form submission

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(), // Serialize the form data
                    success: function(response) {
                        // Check if the 'refresh' property in the response is true
                        if(response.refresh) {
                            // Refresh the page
                            window.location.reload();
                        }else{
                            $('#CookieConsent').hide();
                        }
                    },
                    error: function(response) {
                        var error = "There was an error";
                        $("#CookieConsent__Error").text( error );
                        $("#CookieConsent__DetailError").text( error );
                        $("#CookieConsent__Error").removeClass( 'hidden' );
                        $("#CookieConsent__DetailError").removeClass( 'hidden' );
                    }
                });
            });
        });
    </script>

{% endif %}